<h1>Здесь был минибанк</h1>
<button id="loginButton">Login</button>
<button id="registerButton" >Register</button>

<div id="registrationFormWrapper" style="display:none;">
  <%= render 'clients/form' %>
</div>



